.week{
    .hour-row{
        position: relative;
        .hour-label{
            position: absolute;
            top: -14px;
            background: #fff;
        }
     
    }
    .event-row{
        min-height: 50px;
        transition-duration: 0.1s;
        &:hover{
            background-color: rgb(245, 245, 245);
        }
    }
   
}